<div class="content-container">
  <h1>{{beepTitle}}</h1>
  <h3 *ngIf="beeps">{{beepsCount}} beeps total.</h3>

  <button type="button" color="primary" md-raised-button [routerLink]="['/createBeep']">
    <span>Create new beep</span>
  </button>

  <div class="cards" *ngIf="beeps">
    <md-card *ngFor="let item of beeps">
      <md-card-header>
        <md-card-title>{{item.Name}}</md-card-title>
        <md-card-subtitle>{{item.Gender}}</md-card-subtitle>
      </md-card-header>
      <md-card-content>
      <p>
        {{item.Description}}
      </p>
      <p>
        Date of creation: {{item.DateOfBirth}}
        <br />
        Eyes count: {{item.EyesCount}}
      </p>
      </md-card-content>
       <md-card-actions>
         <div class="card-actions">
            <!--<span class="action-button" (click)="expandRow(item)" mdTooltip="Expand beep" mdTooltipPosition="below">
              <i class="material-icons">subject</i>
            </span> -->
            <span class="action-button" mdTooltip="Edit beep" mdTooltipPosition="below">
              <i [routerLink]="['/editBeep', item.Id]" class="material-icons">create</i>
            </span> 
            <span class="action-button" (click)="removeRow($event, item.Id)" mdTooltip="Remove beep" mdTooltipPosition="below">
              <i class="material-icons">delete</i>
            </span>  
          </div>    
      </md-card-actions>     
    </md-card>
  </div>
</div>