<h1>{{beepTitle}}</h1>
<h3 *ngIf="beeps">{{beepsCount}} beeps total.</h3>

<button type="button" md-raised-button [routerLink]="['/createBeep']">
  <span>Create new beep</span>
</button>

<table class="table table-striped">
  <thead>
    <tr>
      <th>Id</th>
      <th>Name</th>
      <th>Date of birth</th>
      <th>Gender</th>
      <th>Description</th>
      <th>Eyes count</th>
      <th></th>
    </tr>
  </thead>
  <tbody *ngIf="beeps">
    <tr *ngFor="let item of beeps"> 
      <td>{{item.Id}}</td>
      <td>{{item.Name}}</td>
      <td>{{item.DateOfBirth}}</td>
      <td>{{item.Gender}}</td>
      <td>{{item.Description}}</td>
      <td>{{item.EyesCount}}</td>
      <td>
        <span mdTooltip="Edit beep" mdTooltipPosition="right">
          <i [routerLink]="['/editBeep', item.Id]" class="glyphicon glyphicon-pencil"></i>
        </span> 
        <span (click)="removeRow($event, item.Id)" mdTooltip="Remove beep" mdTooltipPosition="right">
          <i class="glyphicon glyphicon-remove"></i>
        </span>       
      </td>
    </tr>
  </tbody>
</table>