@import '~@angular/material/theming';
@include mat-core();
//Theme declaration
$beep-app-primary: mat-palette($mat-light-blue, 600);
$beep-app-accent: mat-palette($mat-deep-orange, 200);

$beep-app-warn: mat-palette($mat-red, 700);

$beep-app-theme: mat-light-theme($beep-app-primary, $beep-app-accent, $beep-app-warn);

@include angular-material-theme($beep-app-theme);
//--------------
.nav-icon {
    vertical-align: middle;
}

.action-button {
    cursor: pointer;
    outline: none;
    
    i {
      outline:none;  
    }
}

.hidden {
    display: none !important;
}
//Custom styles