/* You can add global styles to this file, and also import other style files */
@import 'https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css';

.main-container {
    min-height: 100vh;
}

.page-content {
    padding-top: 2rem;
}

.content-container {
    background: white;
    border: 1px solid rgba(154, 154, 154, 0.22);
    border-radius: 6px;
    box-shadow: 0px 0px 4px 4px rgba(162, 162, 162, 0.19);
    box-sizing: border-box;
    margin:2rem auto 0;
    padding: 2rem;
}
