.nav.navbar-nav li.link-active a {
    background: #00897b;
    color: white;
}

.nav.navbar-nav li {
    display: block;
    float: none;
}

.nav.navbar-nav li a {
    color: white;
}

.nav.navbar-nav li a:hover {
    background: #1e8a6c;
}

.nav.nav.navbar-nav {
    float: none;
}

/deep/.mat-sidenav {
    background: #525065;
}